version: "3.9"

services:
  api:
    container_name: omimer-api
    build: ./backend
    ports:
      - "8080:8080"
    env_file:
      - ./backend/.env
    depends_on:
      - mongo
    restart: always

  ai-model:
    container_name: omimer-ai
    build: ./ai-model
    ports:
      - "5000:5000"
    restart: always

  web:
    container_name: omimer-web
    build: ./web
    ports:
      - "80:80"
    restart: always

  mongo:
    container_name: omimer-db
    image: mongo:6
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    restart: always

volumes:
  mongodb_data:
