<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>296807026441-k5g5ua49o6oekp87bmie88kse2vr0fi4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.296807026441-k5g5ua49o6oekp87bmie88kse2vr0fi4</string>
	<key>API_KEY</key>
	<string>AIzaSyDJnjNhiwe2NnX0REa-BdyjlU4xmTyY5ng</string>
	<key>GCM_SENDER_ID</key>
	<string>296807026441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.omnihealthapp.app</string>
	<key>PROJECT_ID</key>
	<string>omnimerhealth</string>
	<key>STORAGE_BUCKET</key>
	<string>omnimerhealth.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296807026441:ios:f80c4612bb2abb17050dd8</string>
</dict>
</plist>