
PORT=NUMBER_PORT
NODE_ENV=development | production
APP_URL=URL_FRONTEND
ACCESS_TOKEN_SECRET=YOUR_ACCESS_KEY
REFRESH_TOKEN_SECRET=YOUR_REFRESH_KEY

# Datbase
MONGO_URI=mongodb://localhost:27017/omnimerhealth

# Cloudflare
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_ACCESS_KEY=
CLOUDFLARE_SECRET_KEY=
CLOUDFLARE_BUCKET_NAME=

# Send Email
EMAIL_USER=YOUR_GMAIL@gmail.com
EMAIL_PASS=YOUR_EMAIL_PASSWORD

# Redis
REDIS_USERNAME=USERNAME_REDIS
REDIS_PASSWORD=PASSWORD_REDIS
REDIS_HOST=API_HOST_REDIS
REDIS_PORT=API_PORT_REDIS

#Firebase
FIREBASE_ADMIN_SDK_JSON=PATH_FILE_FIREBASE_JSON

# AI Route
AI_API=API_AI_BACKEND

GRAPHDB_URL=http://omnimer_health_graphdb:7200
GRAPHDB_REPO=repository_id